@use '../utilities/colors' as *;
@use '../utilities/typo' as *;
@use '../utilities/sizing' as *;

.btn {
  align-items: center;
  display: flex;
  width: fit-content;
  gap: $size-4;
  padding-top: $size-2;
  padding-bottom: $size-2;
  margin-bottom: $size-2;
  border: $size-1 solid transparent;
  transition: all ease .3s;

  &:hover {
    color: $primary-200;
    cursor: pointer;
  }
}

.rounded-btn {
  @extend .btn;
  border-color: $primary-50;
  border-radius: $size-5;
  padding-left: $size-5;
  padding-right: $size-5;

  &:hover {
    background-color: $primary-200;
    color: $primary-900;
    border-color: $primary-200
  }
}

.rounded-plain-btn {
  @extend .rounded-btn;
  background-color: $primary-900;
  border-color: $primary-900;
  color: $primary-50;
}