@use '../utilities/colors' as *;
@use '../utilities/sizing' as *;
@use '../utilities/typo' as *;

.header {

  .topbar {
    background-color: $primary-100;
    display: flex;
    justify-content: space-between;
    padding: $size-4;
    position: relative;
    z-index: 9;
  }

  .logo {
    font-size: $fs-6;
    font-weight: $fw-3;
  }

  .main-menu {
    background-color: $primary-50;
    text-align: center;
    padding-bottom: $size-5;
    transform: translateY(-100%);
    transition: transform ease 1s;
  }
  
  .main-menu.menu-open {
    transform: translateY(0);
  }

  .link {
    font-weight: $fw-2;
    padding-top: $size-5;
    
    &>a {
      color: $primary-800;
      transition: color ease .3s;
    }

    &>a:hover {
      color: $primary-500;
    }
  }

}
