@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;0,800;1,200;1,400;1,600;1,800&display=swap');

// fs = font-family
$ff-1: 'Poppins', sans-serif;

// fs = font-size
$fs-1: 12px;
$fs-2: 14px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 24px;
$fs-7: 30px;
$fs-8: 36px;
$fs-9: 48px;
$fs-10: 60px;
$fs-11: 72px;

// fw = font-weight
$fw-1: 200;
$fw-2: 400;
$fw-3: 600;
$fw-4: 800;