@use '../utilities/sizing' as *;
@use '../utilities/colors' as *;
@use '../utilities/_typo' as *;
@use '../utilities/breakpoints' as *;



.head{
    .imageWrap{
        width: 100%;
        height: 35vh;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .text{
        align-items: center;
        background-color: $primary-900;
        position: relative;
        height: 35vh;
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title{  
            font-size: $fs-8;
            font-weight: $fw-3;
            color: $primary-500;
        }
        p{
            color: $primary-50;
            padding-top: 5%;
            text-align: center;
        }
        .lineicon{
            width: $size-9;
            height: $size-1;
            background-color: $primary-500;
           
        }
    }
}

.head.whyUs{
    .text{
        background-color: $primary-500;
        .title{
            color: $primary-50;
            font-size: $fs-7;
            font-weight: $fw-3;
            text-align: center;
            color: $primary-900;
        }
        .lineicon{
            background-color: $primary-900;
            width: $size-10;
        }
    }
}

.head.team{
    .text{
        background-color: $primary-100;
        .title{
            color: $primary-50;
            font-size: $fs-7;
            font-weight: $fw-3;
            text-align: center;
            color: $primary-900;
        }
        .lineicon{
            background-color: $primary-900;
        }
        p{
            color: $primary-800;

        }

    }
}

.members{
    .member{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: $primary-900;
        padding-top: 5%;
/*         display: grid;
        align-items: center; */
        
        img{
            border-radius: 100%;
            width: $size-10;
            height: $size-10;
        }
        .wrapText{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .name{
            font-size: $fs-6;
            color: $primary-500;
            font-weight: $fw-3;
            margin: 2%;
        }
        .lineicon{
            width: $size-9;
            height: $size-1;
            background-color: $primary-500;
            text-align: center;
            margin-bottom:2%;
        }
        p{
            font-size: $fs-4;
            font-weight: $fw-2;
            text-align: center;
            color: $primary-100;
            padding:2% 7% 2% 7%;
        }
    }

    .member.member2{
        background-color: $primary-500;
        .wrapText{
            .name{
                color: $primary-900;
            }
            .lineicon{
                background-color: $primary-900;
            }
        }
    }
    .member.member3{
        background-color: $primary-50;
        .wrapText{
            .name{
                color: $primary-500;
            }
            .lineicon{
                background-color: $primary-500;
            }
            p{
                color: $primary-900;
            }
        }
    
    }
}

@media (min-width: $md) {
    .head{
        display: flex;
        flex-direction: row-reverse;
        .imageWrap{
            width: 250%;
            height: 100vh;
        }
        .text{
            
            height: 100vh;
        }
    }
    .head.whyUs{
        display: flex;
        flex-direction: row;
    }

    .members{
        .member{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: $size-4 0;
        height: 60vh;
        img{
            border-radius: 100%;
            width: $size-13;
            height: $size-13;
        }
        .wrapText{
            display: flex;
            

        }
        .name{
            font-size: $fs-9;
            color: $primary-500;
            font-weight: $fw-3;
            margin: 5%;
        }
        .lineicon{
            width: $size-12;
            height: $size-1;
            background-color: $primary-500;
            margin-bottom:5%;
        }
        p{
            font-size: $fs-7;
            font-weight: $fw-2;
            text-align: center;
            color: $primary-100;
            padding:2% 7% 2% 7%;
        }

        .member2{
            background-color: red;
        }

        }

    }
}