@use '../base/reset';
@use '../components/menu';
@use '../components/footer';
@use '../utilities/colors' as *;
@use '../utilities/sizing' as *;
@use '../utilities/typo' as *;

body {
  font-family: $ff-1;
  color: $primary-900;
  box-sizing: border-box;
}

.container {
  position: relative;
  top: $size-7;
}