@use '../utilities/breakpoints' as *;
@use '../utilities/colors' as *;
@use '../utilities/sizing' as *;
@use '../utilities/typo' as *;
@use '../components/titles';
@use '../components/buttons';
@use '../components/cards';

.landing {
  position: relative;
  
  .bg {
    height: calc(100vh - $size-7);
    object-fit: cover;
    object-position: left;
    opacity: .3;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    gap: $size-4;
    height: calc(100vh - $size-7);
    justify-content: center;
    padding: $size-5;
    text-align: center;
    z-index: 1;
  }

  .desc {
    margin-bottom: $size-5;
  }

  .cta {
    align-self: center;
    background-color: $yellow-600;
    border-color: $yellow-600;
    color: $yellow-50;
    
    &:hover {
      background-color: $yellow-100;
      border-color: $yellow-100;
      color: $yellow-900
    }
  }

}

.services {
  background-color: $primary-900;
  color: $primary-50;
  padding: $size-8 $size-5;

  .text-container {
    margin-bottom: $size-8;
  }

  .subtitle-1 {
    align-items: center;
    display: flex;
    gap: $size-4;
  }

  .cta {
    border-color: $cyan-300;
    color: $cyan-300;
    margin-top: $size-6;

    &:hover {
      background-color: $cyan-200;
      border-color: $cyan-200;
    }
  }

  .cards-container {
    display: grid;
    gap: $size-4
  }

  .card {
    background-color: $cyan-200;
    color: $primary-900;

    .btn {
      color: $yellow-700;
      margin-bottom: 0;

      &:hover {
        color: $yellow-500;
      }
    }
  }

}

.method {
  display: flex;
  flex-direction: column;
  gap: $size-8;
  padding: $size-8 0;

  .block {
    display: flex;
    flex-direction: column;
    margin-bottom: $size-5;

    img {
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      height: $size-13;
      margin-bottom: $size-5;
      object-fit: cover;
      width: 80%;
    }

    .text-container {
      padding: $size-4 $size-5;
      width: 80%;
    }

  }
  
  .left {

    img {
      border-radius: 0 $size-3 $size-3 0;
    }

    .text-container {
      align-self: flex-end;
    }
    
    .title-2, .desc {
      text-align: right;
    }

  }
  
  .right {

    img {
      align-self: flex-end;
      border-radius: $size-3 0 0 $size-3;
    }

  }
}

@media (min-width: $md) {

  .landing {

    .text-container {
      padding: $size-10;
    }
  }

  .services {

    .cards-container {
      grid-template-columns: 1fr 1fr;
    }
  }

  .method {

    .block {

      img, .text-container {
        width: 70%;
      }

    }

  }

}

@media (min-width: $lg) {

  .landing {

    .bg {
      opacity: .75;
      right: 0;
      width: 60%;
    }

    .text-container {
      padding: $size-5;
      width: 40%;
    }
  }

  .services {
    display: grid;
    gap: $size-2;
    grid-template-columns: 4fr 8fr;
    padding: $size-8;

    .text-container {
      gap: $size-5;
      padding-top: $size-8;
      padding-right: $size-8;
    }

    .cta {
      margin-top: $size-7;
    }

  }

  .method {
    .block {
      flex-direction: row;
      
      img {
        height: $size-14;
        width: 50%;
      }
      
      .text-container {
        padding: $size-9;
      }
    }

    .left {
      
      .text-container {
        align-self: center;
      }

      .title-2, .desc {
        text-align: left;
      }
    }

    .right {
      flex-direction: row-reverse;

      .text-container {
        align-self: center;
      }

      .title-2, .desc {
        text-align: right;
      }
    }

  }
}