@use '../utilities/colors' as *;
@use '../utilities/sizing' as *;
@use '../utilities/typo' as *;
@use '../components/titles';
@use '../components/buttons';
@use '../components/cards';

.landing {
  position: relative;
  
  .bg {
    height: calc(100vh - $size-7);
    object-fit: cover;
    opacity: .4;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    gap: $size-4;
    height: calc(100vh - $size-7);
    justify-content: center;
    padding: $size-5;
    text-align: center;
    z-index: 1;
  }

  .desc {
    margin-bottom: $size-5;
  }

  .cta {
    align-self: center;
  }

}

.services {
  background-color: $primary-900;
  color: $primary-50;
  padding: $size-8 $size-5;

  .text-container {
    margin-bottom: $size-8;
  }

  .subtitle-1 {
    align-items: center;
    display: flex;
    gap: $size-4;
  }

  .card {
    background-color: $primary-500;

    .btn {
      margin-bottom: 0;
    }
  }

}

.method {
  display: flex;
  flex-direction: column;
  gap: $size-8;
  padding: $size-8 0;

  .block {
    display: flex;
    flex-direction: column;
    margin-bottom: $size-5;

    img {
      height: $size-13;
      margin-bottom: $size-5;
      object-fit: cover;
      width: 80%;
    }

    .text-container {
      padding: $size-4 $size-5;
      width: 80%;
    }

  }
  
  .left {

    img {
      border-radius: 0 $size-3 $size-3 0;
    }

    .text-container {
      align-self: flex-end;
    }
    
    .title-2 {
      text-align: right;
    }

    .desc {
      text-align: right;
    }

  }
  
  .right {

    img {
      align-self: flex-end;
      border-radius: $size-3 0 0 $size-3;
    }

  }
}