@use '../utilities/sizing' as *;
@use '../utilities/colors' as *;
@use '../utilities/_typo' as *;
@use '../utilities/breakpoints' as *;



.headService{
/*     background-image:  url("../images/business-5475661_960_720.jpg");
    background-position: left;
    opacity: .5;
    background-size: cover;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;

    img{
        height: calc(100vh - $size-12);
        object-fit: cover;
        object-position: left;
        opacity: .3;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
    
    h1{
        display: flex;
        flex-direction: column;
        height: calc(100vh - $size-12);
        justify-content: center;
        padding: $size-5;
        text-align: center;
        z-index: 1;
        color: $primary-900;
        font-size: $fs-8;
        font-weight: $fw-3;
    }
}

.grid{
    max-width: auto;
    width: 100%;
    height: auto;
    margin: auto;
    /* border: 1px solid #333; */
    display: grid;
    grid-template-columns: repeat(auto-fill, $size-13);
    justify-content: center;
    grid-gap: 0;

    .cards{
        height: auto;
        display: flex;
        align-items: center;
    }
    .wrap{
        padding: 10%;
    }
    h3{
        font-size: $fs-7;
        padding: 0 5% 5% 0;
        font-weight: $fw-3;
    }
    .textCard{
        font-size: $fs-4;
    }
    button{
        margin: 10% 0;
        cursor: pointer;
        width: $size-10;
        height: $size-7;
    }
    .detail{
/*         background-image: url(../images/imageCM.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top; */
       background-color: $primary-900; 
       color: $primary-50;
    }
    .CM{
        background-color: $primary-900;
        color: $primary-50;
    }
    .RI{
        background-color: $primary-500;
        color: $primary-50;
    }
    .PR{
        background-color: $primary-50;
        color: $primary-900;
    }
}


.otherService {
    margin: $size-10;
    display: flex;
    flex-direction: column;
    align-items: center;

     h2 {
    text-align: center;
    font-size: $fs-7;
    width: $size-12;
    font-weight: $fw-3;

    }

    .line{
        display: flex;
        justify-content: center;
        margin: $size-4 0 $size-7 0;
    }

    .line span {
        width: $size-10;
        background-color: $primary-900;
        height: $size-1;
        display: block;
        text-align: center;
        border-radius: 30%;
    }
    .grid{
        max-width: auto;
        width: 100%;
        height: auto;
        margin: auto;
        /* border: 1px solid #333; */
        display: grid;
        grid-template-columns: repeat(auto-fill, $size-12a);
        justify-content: center;
        grid-gap: $size-7;
    }
    .otherServices{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: $primary-100;
        padding: 10%;
        width: $size-12a;
        border-radius: $size-2;
    }
    .otherServices p{
        text-align: center;
    }
    h4{
        font-size: $fs-6;
        margin-bottom: $size-4 ;
        font-weight: $fw-3;
        text-align: center;
    }
    button{
        cursor: pointer;
        width: $size-10;
        height: $size-7;
    }

}

.detailServices{
    margin-bottom: 10%;
    .detailsCM{
        background-color: $primary-900;
        padding: 5% 0;
        color: $primary-50;
    }
    .detailsRI{
        background-color: $primary-500;
        padding: 5% 0;
        color: $primary-50;
    }
    .detailsPR{
        background-color: $primary-50;
        padding: 5% 0;
        color: $primary-900;
    }
    .detail{
      max-width: 100%;   
    }
    .images{
        display: flex;
        justify-content: center;

        img{
            max-width: $size-13;
        }
    }
    .text{
        p{
            font-size: $fs-1;
            padding: 5%;
            text-align: center;
        }
    }

}


@media (min-width: $md) and (min-width: $xl){
    .cardServices.grid{
        display: flex;
    }

    .detailsCM{
        display: flex;

        
    }
    .detailsRI{
        display: flex;

    }
    .detailsPR{
        display: flex;

    }
}


/* .detail{
    max-width: auto;
    width: 100%;
    height: auto;
    margin: auto;
    /* border: 1px solid #333;
    display: grid;
    grid-template-columns: repeat(auto-fill, $size-14a);
    justify-content: center;
    grid-gap: $size-1;
    .text{
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            font-size: $fs-1;
            padding: 5%;
        }
    }
} */